# Notion Integration 토큰 (ntn_... 또는 secret_...)
NOTION_TOKEN=

# 개발 논의 안건 DB ID
NOTION_AGENDA_DB_ID=7a4c579e-6f8c-4b57-8796-a524c2152f56

# 캘린더 DB ID
NOTION_CALENDAR_DB_ID=955eb5f8881982858ee381bca9feeb70

# Slack Incoming Webhook URL
SLACK_WEBHOOK_URL=
